

<h1>words Number: <%= @word_count %></h1>

	<h1>Original text:</h1>

<h2><%= @text %></h2>

	<h1>Reading time per Second</h1>

<h2><%=@words_minute%></h2>



<h1>Word frequency<%=@wc%></h1>

<%=link_to "Home", "/" %>

<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, ea deserunt eos necessitatibus ullam fuga nulla consectetur. Lorem ipsum Rerum facere neque sit et similique, facilis iure veritatis cumque, voluptates unde commodi? facere neque sit et </p> -->

